In [1]:
#load python packages
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
path = os.getcwd()
file_name = 'fake_job_postings_no_outliers.csv'
path += "/../data/interim/"+file_name
df = pd.read_csv(path, index_col='job_id')

Categorical features have already been dummified in the data wrangling step. Outliers of numerical columns were removed in EDA step. I will now split into test/train sets and standardize numerical columns

In [3]:
df.head()

,telecommuting,has_company_logo,has_questions,fraudulent,has_department,has_salary_range,has_benefits,has_required_experience,has_required_education,Country_CA,...,function_Information Technology,function_Marketing,function_Other,function_Sales,company_profile,description,requirements,company_profile_length,description_length,requirements_length
job_id,,,,,,,,,,,,,,,,,,,,,
0,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,"['food', 'weve', 'created', 'groundbreaking', ...","['food', 'fastgrowing', 'james', 'beard', 'awa...","['experience', 'content', 'management', 'syste...",88,79,73
1,0,1,0,0,1,0,1,1,0,0,...,0,0,0,0,"['second', 'world', 'cloud', 'video', 'product...","['organised', 'focused', 'vibrant', 'awesomedo...","['expect', 'youyour', 'key', 'responsibility',...",99,192,119
2,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,"['valor', 'service', 'provides', 'workforce', ...","['client', 'located', 'houston', 'actively', '...","['implement', 'precommissioning', 'commissioni...",82,30,107
3,0,1,0,0,1,0,1,1,1,0,...,0,0,0,1,"['passion', 'improving', 'quality', 'life', 'g...","['company', 'esri', '–', 'environmental', 'sys...","['education', 'bachelor', '’', 'master', '’', ...",57,226,124
4,0,1,1,0,0,0,1,1,1,0,...,0,0,0,0,"['spotsource', 'solution', 'llc', 'global', 'h...","['job', 'title', 'itemization', 'review', 'man...","['qualificationsrn', 'license', 'state', 'texa...",151,126,62

In [4]:
from sklearn.model_selection import train_test_split

X = df.drop('fraudulent',axis=1)
y = df['fraudulent']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1, stratify=y)

In [5]:
from sklearn.preprocessing import StandardScaler

numeric_cols = ['company_profile_length', 'description_length', 'requirements_length']
scaler = StandardScaler()
X_train_scaled = X_train.copy() #setting up the categorical dummy columns which will not be scaled
X_test_scaled = X_test.copy()
X_train_scaled.loc[:,numeric_cols] = scaler.fit_transform(X_train.loc[:,numeric_cols]) #scaling numeric columns
X_test_scaled.loc[:,numeric_cols] = scaler.transform(X_test.loc[:,numeric_cols])

In [6]:
X_test_scaled[numeric_cols]

        company_profile_length  description_length  requirements_length
job_id
11928                -0.714782           -0.937034            -1.181660
14765                -0.546226            0.073900             0.886004
10676                 0.513271           -0.498963            -1.181660
71                   -1.196372            0.899495            -0.241812
14632                -0.016477           -0.111438             0.026715
...                        ...                 ...                  ...
15183                 1.307894           -0.263078            -0.617751
2154                  0.585510            0.141295            -0.349224
589                  -1.027816            0.073900            -0.080696
14267                 1.356053           -0.482114             0.510065
5480                  0.778146            0.174993            -1.181660

[3973 rows x 3 columns]

In [7]:
X_train_scaled.to_csv('../data/processed/fake_job_postings_X_train.csv')
X_test_scaled.to_csv('../data/processed/fake_job_postings_X_test.csv')
y_train.to_csv('../data/processed/fake_job_postings_y_train.csv')
y_test.to_csv('../data/processed/fake_job_postings_y_test.csv')